[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/powerline"]
	path = vim/powerline
	url = https://github.com/powerline/powerline.git
[submodule "vim/vim-airline"]
	path = vim/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/vim-airline-themes"]
	path = vim/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/tagbar"]
	path = vim/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/nerdtree"]
	path = vim/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim-coffee-script"]
	path = vim/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
