[submodule "vim/powerline-fonts"]
	path = vim/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/powerline"]
	path = vim/powerline
	url = https://github.com/powerline/powerline.git
